@font-face {
  font-family: poopins;
  src: url("../fonts/poppins/Poppins-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: poopins;
  src: url("../fonts/poppins/Poppins-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: poopins;
  src: url("../fonts/poppins/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: poopins;
  src: url("../fonts/poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: poopins;
  src: url("../fonts/poppins/Poppins-Bold.ttf");
  font-weight: 700;
}
.text-title-black {
  font-size: 28px;
  font-weight: 600;
  color: var(--black-color);
}

.text-title-blue {
  font-size: 16px;
  font-weight: 600;
  color: var(--blue-color);
  text-transform: uppercase;
  margin-bottom: 6px;
}

.text-title-gray {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-color);
}
