@import url("./fonts.css");
:root {
  --background-color: #fafafa;
  --black-color: #232631;
  --gray-color: #656565;
  --cream-color: #fdc886;
  --blue-color: #5a4fcf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poopins;
}

input:hover, input:focus,
button:hover,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

section {
  margin-bottom: 120px !important;
}

body {
  background: var(--background-color) !important;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-size: 16px;
  padding: 0;
  margin-right: 2rem;
  color: var(--black-color) !important;
  font-weight: 500;
  position: relative;
}
.navbar .navbar-nav .nav-item .active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: var(--blue-color);
  bottom: 0;
  left: 0;
}
.navbar .nav-search input ::placeholder,
.navbar .nav-search input ::-webkit-input-placeholder,
.navbar .nav-search input ::-moz-placeholder {
  font-weight: 500 !important;
  color: #858585 !important;
}

#ads-section .slick-item {
  position: relative;
}
#ads-section .slick-item .card-absolute {
  position: absolute !important;
  opacity: 0 !important;
  transition: all 0.7s ease-in-out;
  left: 0;
  top: 20%;
}
#ads-section .slick-item .card-absolute .ads-card {
  border: 0;
  border-radius: 24px;
  padding-right: 7rem;
}
#ads-section .slick-item .card-absolute .ads-card .ads-star {
  color: #ffb800;
  font-size: 18px;
  font-weight: 600;
}
#ads-section .slick-item .card-absolute .ads-card .ads-total {
  color: var(--gray-color) !important;
  font-size: 16px !important;
  font-weight: 400 !important;
}
#ads-section .slick-item .card-absolute .ads-card .ads-title {
  font-size: 22px;
  font-weight: 600;
}
#ads-section .slick-item .card-absolute .ads-card .ads-price {
  font-size: 18px;
  font-weight: 600;
  color: var(--gray-color);
}
#ads-section .slick-item .card-absolute .ads-card .ads-location {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-color);
}
#ads-section .slick-item .card-absolute .ads-card .ads-info span {
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 400;
  margin-left: 5px;
}
#ads-section .slick-active .card-absolute {
  opacity: 1 !important;
}

#why-us-section .text-title-black {
  margin-bottom: 41px !important;
}
#why-us-section .card-whyus {
  border: 0;
  border-radius: 24px;
  text-decoration: none;
}
#why-us-section .card-whyus-img {
  margin: 24px 0;
}
#why-us-section .card-whyus-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-color);
  margin-bottom: 12px;
}
#why-us-section .card-whyus-subtitle {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-color);
  margin-bottom: 40px;
}
#why-us-section .card-whyus-link {
  font-size: 16px;
  font-weight: 600;
  color: var(--black-color);
  border: 0;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  padding: 1.3rem 0;
  background: transparent;
  transition: all 0.3s ease-in-out;
}
#why-us-section .card-whyus:hover .card-whyus-link {
  background: var(--cream-color) !important;
}

#most-popular .text-title-black {
  margin-bottom: 20px !important;
}
#most-popular .text-title-gray {
  margin-bottom: 56px !important;
}
#most-popular .most-popular-item {
  cursor: pointer;
  position: relative;
  transition: width 0.5s;
  height: 475px;
}
#most-popular .most-popular-item img {
  border-radius: 24px;
  -o-object-fit: cover;
     object-fit: cover;
}
#most-popular .most-popular-item .most-popular-card {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: flex-end;
  transition: all 1s ease-out;
}
#most-popular .most-popular-item .most-popular-card .card {
  border: 0;
  margin: 30px;
  border-radius: 24px;
  width: 100%;
}
#most-popular .most-popular-item .most-popular-card-star {
  font-size: 16px;
  color: #ffb800;
  font-weight: 600;
  margin-bottom: 4px;
}
#most-popular .most-popular-item .most-popular-card-total {
  font-size: 16px;
  color: var(--gray-color);
  font-weight: 400;
}
#most-popular .most-popular-item .most-popular-card-title {
  font-size: 18px;
  color: var(--black-color);
  font-weight: 600;
}
#most-popular .most-popular-item .most-popular-card-location {
  font-size: 16px;
  color: var(--gray-color);
  font-weight: 400;
}
#most-popular .most-popular-item .most-popular-card .btn-cream {
  border-radius: 12px !important;
}
#most-popular .col-6 .most-popular-card {
  opacity: 1 !important;
}

#near-section .text-title-black {
  margin-bottom: 34px;
}
#near-section .btn-location button {
  background-color: #f2f2f2;
  padding: 16px;
  border-radius: 12px;
  color: var(--gray-color);
  font-size: 16px;
  font-weight: 500;
}
#near-section .btn-location button:hover, #near-section .btn-location button:focus, #near-section .btn-location button:active {
  border: 0;
  outline: 0;
}
#near-section .btn-location .dropdown-menu {
  border: 0;
}
#near-section .btn-location .dropdown-menu .dropdown-item {
  color: var(--gray-color) !important;
  font-size: 16px !important;
}
#near-section .near-item {
  position: relative;
}
#near-section .near-item img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  border-radius: 24px;
}
#near-section .near-item-card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
#near-section .near-item-card .card {
  border-radius: 24px;
  margin: 30px 24px;
  border: 0;
  width: 100%;
}
#near-section .near-item-card-star {
  font-size: 16px;
  color: #ffb800;
  font-weight: 600;
  margin-bottom: 4px;
}
#near-section .near-item-card-total {
  font-size: 16px;
  color: var(--gray-color);
  font-weight: 400;
}
#near-section .near-item-card-title {
  font-size: 18px;
  color: var(--black-color);
  font-weight: 600;
}
#near-section .near-item-card-price {
  font-size: 18px;
  color: var(--gray-color);
  font-weight: 600;
}
#near-section .near-item-card .btn-cream {
  border-radius: 12px !important;
}
#near-section .btn-view-all {
  margin-top: 56px;
  padding: 16px 28px !important;
  border-radius: 12px;
}

#expert-chef .left-content {
  position: relative;
}
#expert-chef .left-content .expert-chef-photo {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 24px;
}
#expert-chef .left-content .expert-chef-experience {
  position: absolute;
  top: 10%;
  right: -10%;
}
#expert-chef .left-content .expert-chef-experience .card {
  border: 0;
  border-radius: 24px;
}
#expert-chef .left-content .expert-chef-experience .card .card-body {
  padding: 25px 35px !important;
}
#expert-chef .left-content .expert-chef-experience-img {
  width: 80px;
  margin-bottom: 12px;
}
#expert-chef .left-content .expert-chef-experience-year {
  font-size: 18px;
  font-weight: 600;
  color: var(--black-color);
  margin-bottom: 0;
}
#expert-chef .left-content .expert-chef-experience-title {
  font-size: 16px;
  color: var(--gray-color);
  margin-bottom: 0;
}
#expert-chef .left-content .expert-chef-restaurant {
  position: absolute;
  bottom: 10%;
  left: -10%;
}
#expert-chef .left-content .expert-chef-restaurant .card {
  border: 0;
  border-radius: 24px;
}
#expert-chef .left-content .expert-chef-restaurant .card .card-body {
  padding: 18px !important;
}
#expert-chef .left-content .expert-chef-restaurant-img {
  width: 99px;
}
#expert-chef .right-content .text-title-black {
  margin-bottom: 32px;
}
#expert-chef .right-content .expert-chef-item {
  border: 0;
  border-radius: 24px;
  background: transparent;
  margin-bottom: 25px;
  cursor: pointer;
}
#expert-chef .right-content .expert-chef-item-food {
  font-size: 16px;
  font-weight: 500;
  color: var(--gray-color);
  text-transform: uppercase;
  margin-bottom: 6px;
}
#expert-chef .right-content .expert-chef-item-name {
  font-size: 22px;
  font-weight: 600;
  color: var(--black-color);
  margin-bottom: 6px;
}
#expert-chef .right-content .expert-chef-item-location {
  font-size: 16px;
  font-weight: 400;
  color: var(--gray-color);
}
#expert-chef .right-content .expert-chef-item-link {
  font-size: 16px;
  font-weight: 500;
  color: var(--cream-color);
  text-decoration: none;
  display: none;
}
#expert-chef .right-content .expert-chef-active {
  background: #fff !important;
  cursor: default !important;
}
#expert-chef .right-content .expert-chef-active .expert-chef-item-link {
  display: block;
}/*# sourceMappingURL=main.css.map */