@import url("./fonts.css");
// @import url("./buttons.css");

:root {
  --background-color: #fafafa;
  --black-color: #232631;
  --gray-color: #656565;
  --cream-color: #fdc886;
  --blue-color: #5a4fcf;
}

// Reset Styles

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poopins;
}

input,
button {
  &:hover,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}

// Set Default
section {
  margin-bottom: 5rem !important;
}

// body
body {
  background: var(--background-color) !important;
}

// Navbar
.navbar {
  .navbar-nav {
    .nav-item {
      .nav-link {
        font-size: 16px;
        padding: 0;
        margin-right: 2rem;
        color: var(--black-color) !important;
        font-weight: 500;
        position: relative;
      }

      .active {
        &::before {
          content: "";
          position: absolute;
          width: 100%;
          height: 2px;
          background: var(--blue-color);
          bottom: 0;
          left: 0;
        }
      }
    }
  }
  .nav-search {
    input {
      ::placeholder,
      ::-webkit-input-placeholder,
      ::-moz-placeholder {
        font-weight: 500 !important;
        color: #858585 !important;
      }
    }
  }
}

// Ads Section
#ads-section {
  .slick-item {
    position: relative;
    .card-absolute {
      position: absolute !important;
      opacity: 0 !important;
      transition: all 0.7s ease-in-out;
      left: 0;
      top: 20%;

      .ads-card {
        border: 0;
        border-radius: 24px;
        padding-right: 7rem;

        .ads-star {
          color: #ffb800;
          font-size: 18px;
          font-weight: 600;
        }
        .ads-total {
          color: var(--gray-color) !important;
          font-size: 16px !important;
          font-weight: 400 !important;
        }
        .ads-title {
          font-size: 22px;
          font-weight: 600;
        }
        .ads-price {
          font-size: 18px;
          font-weight: 600;
          color: var(--gray-color);
        }
        .ads-location {
          font-size: 16px;
          font-weight: 400;
          color: var(--gray-color);
        }
        .ads-info {
          span {
            color: var(--gray-color);
            font-size: 16px;
            font-weight: 400;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .slick-active {
    .card-absolute {
      opacity: 1 !important;
    }
  }
}

// Why Us Section
#why-us-section {
  .text-title-black {
    margin-bottom: 41px !important;
  }

  .card-whyus {
    border: 0;
    border-radius: 24px;
    text-decoration: none;

    &-img {
      margin: 24px 0;
    }
    &-title {
      font-size: 18px;
      font-weight: 600;
      color: var(--black-color);
      margin-bottom: 12px;
    }
    &-subtitle {
      font-size: 16px;
      font-weight: 400;
      color: var(--gray-color);
      margin-bottom: 40px;
    }
    &-link {
      font-size: 16px;
      font-weight: 600;
      color: var(--black-color);
      border: 0;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
      border-bottom-left-radius: 24px;
      border-bottom-right-radius: 24px;
      padding: 1.3rem 0;
      background: transparent;
      transition: all 0.3s ease-in-out;
    }

    &:hover {
      .card-whyus-link {
        background: var(--cream-color) !important;
      }
    }
  }
}

// Most Popular Section
#most-popular {
  .text-title {
    &-black {
      margin-bottom: 20px !important;
    }
    &-gray {
      margin-bottom: 56px !important;
    }
  }

  .most-popular-item {
    cursor: pointer;
    position: relative;
    transition: width 0.5s;
    height: 475px;

    img {
      border-radius: 24px;
      object-fit: cover;
    }

    .most-popular-card {
      position: absolute !important;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      opacity: 0;
      justify-content: center;
      align-items: flex-end;
      transition: all 1s ease-out;

      .card {
        border: 0;
        margin: 30px;
        border-radius: 24px;
        width: 100%;
      }

      &-star {
        font-size: 16px;
        color: #ffb800;
        font-weight: 600;
        margin-bottom: 4px;
      }
      &-total {
        font-size: 16px;
        color: var(--gray-color);
        font-weight: 400;
      }
      &-title {
        font-size: 18px;
        color: var(--black-color);
        font-weight: 600;
      }
      &-location {
        font-size: 16px;
        color: var(--gray-color);
        font-weight: 400;
      }
    }
  }
  .col-6 {
    .most-popular-card {
      opacity: 1 !important;
    }
  }
}
